doctype html
html
    head
        meta(charset="utf-8")
        title workers
    body
        div(id="tr" class="workersTh")
            div(class="td") Превью
            div(class="resizer")
            div(class="td") Имя
            div(class="resizer")
            div(class="td") Фамилия
            div(class="resizer")
            div(class="td") Дата Рождения
            div(class="resizer")
            div(class="td") Возраст
            div(class="resizer")
            div(class="td") Должность
            div(class="resizer")
            div(class="td") Удаленная работа
            div(class="resizer")
            div(class="td") Адрес проживания
            
            
            
            
        div(id="tr")
            div(class="td")
                img(src="https://im0-tub-ru.yandex.net/i?id=14c13556dbc47474132b8bf4a806752e&n=13")
            div(class="resizer")
            div(class="td") Иван
            div(class="resizer")
            div(class="td") Иванов
            div(class="resizer")
            div(class="td") 01.12.2000
            div(class="resizer")
            div(class="td") 33
            div(class="resizer")
            div(class="td") техник
            div(class="resizer")
            div(class="td")
                input(type="checkbox")
            div(class="resizer")
            div(class="td") г. СПб Невский пр. 3/6 кв.1
    