* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
}

.workersTh {
    background-color: gainsboro;
}

#tr {
    display: grid;
    grid-template-columns: 7rem 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
}

.td {
    word-break: break-all;
}

.resizer {
    border-left: 1px solid;
    cursor: ew-resize;
}

img {
    max-width: 100%;
}